body, html {
  height: 100%;
  margin: 0;
  font-family: Arial,sans-serif;
}

.header-background {
  
  height: 30%;
  width: 100%;
  
}

.header-profile {
  
  height: 10%;
  width: 100%;
  
}

.header-text {
  color: #000000;
  font-size: xx-large;
  
  height: initial;
  width: center;
  margin-left:15%;
  font-weight:bold;
  text-align: center;
}

.content-background {
  background-image: url("../img/content.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.indexcontent-background {
  background-image: url("../img/indexcontent.jpg");
  width: 375px;
  height: 667px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.content-background-repeat {
  background-image: url("../img/content.jpg");
  background-position: center;
  position: relative;
}

.test-background{
  background-image:url("../img/testbackground.png");
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

.answer-background{
  

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.profile-background{
  background-image: url("../img/profile.png");
  width: 375px;
  height: 667px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content-background-repeat-alpha {
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background:rgba(255,255,255,0.4);
}

.moon{
  background-image: url("../img/moon.png");
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;

}

.content-text {
  color: #32190E;
  font-size: large;
  font-size: 16px;
  height: 50%;
  margin-left:57.68px;
  
}

.test-table{
  width:100%; 
  table-layout:fixed;
}

.questions-text {
  color: #CDEFF7;
  font-size: medium;
  margin-left:5%;
 
}

.questionsTitle-text {
  font-weight:bold;
  color: #000000;
  font-size: small;
}
a:link {
  color:#40210F;
  font-size:18px;
  font-weight:bold;
  }

a:visited {
  color:#40210F;
  font-size:18px;
  font-weight:bold;
  }

.ans-title {
  color: #32190E;
  font-size: 20px;
  height: initial;
  font-weight:bold;
  text-align: center;

}

.ans-title-small{
  font-size:12px;
  height: initial;
  text-align:center;
}

.indexbtn{
  background-image:url(../img/indexbut.png) ;
   width:131.58px;height: 43.94px;
   margin-top: 170px;
   background-color:rgba(255, 255, 255, 0);
   border:0px none;
}

.submitbtn{
  background-image:url(../img/submit.png) ;
  width:120px;
  height: 60px; 
  background-color:rgba(255, 255, 255, 0);
  border:0px none;
  background-repeat: no-repeat;
  background-size:120px 60px;

}

.nextbtn{
  text-align: center;
  background-image:url(../img/next.png) ;
  width:88px;
  height: 41px; 
  background-color:rgba(255, 255, 255, 0);
  border:0px none;
  background-size: cover;
}
.finalbtn{
  text-align: center;
  background-image:url(../img/finalsubmit.png) ;
  width:61px;
  height: 31px; 
  background-color:rgba(255, 255, 255, 0);
  border:0px none;
  background-size: cover;
  background-repeat: no-repeat;
}

.ans-img-frame {
  height: 155px; 
  width: 275px;
  position: relative;
}
.ans-img {
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

.ans-people-text {
  color: #40210F;
  font-size: 14px;
  background-color: rgba(247,247,247,0.4);
  margin-left: 10%;
  margin-right: 10%;
  border-radius:20px;
  padding:3%;
  text-align: left;
}

.ans-type-title {
  
  color: #32190E;
  font-weight:bold;
  font-size: 24px;
  text-align: center;
  
}

.ans-type-text {
  color: #32190E;
  font-size: 14px; 
  margin-left: 18%;
  margin-right: 18%;
  text-align: left;
}


.ad-background {
  width: 100%;
  height: 100%;
  position: relative;
}

.ad-title {
  color: #171d42;
  font-size:22px;
  position: absolute;
  top: 35%;
  left: 40%;
}
.ad-content {
  color: #171d42;
  font-size: 12px;
  position: absolute;
  top: 63%;
  left: 40%;
}
.ad-1 {
  position: absolute;
  top: 13%;
  margin-left:15%;
  margin-right:15%;
  width: 270px;
  
}

.ad-2 {
  position: absolute;
  top: 30%;
  margin-left:15%;
  margin-right:15%;
  width: 270px;
  
}

.ad-3 {
  position: absolute;
  top: 47%;
  margin-left:15%;
  margin-right:15%;
  width: 270px;
 
}

.ad-border{
  border-radius:15px;
  background-color: rgba(253,253,252,0.6);
  padding:5%;
}

.ad-4 {
  position: absolute;
  top: 64%;
  margin-left:15%;
  margin-right:15%;
  width: 270px;
}




.compass-img{
  position: absolute;
  top: 35%;
  left: 20px;
  width: 150px;
}

.form-div {
  width: 90%;
  margin-left:5%;
  margin-right:5%;
}

.center-horizontal {
  text-align: center;
  
}

.center-vertical {
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.profile-title{
  background-image:url(../img/profiletitle.png) ;
  background-repeat: no-repeat;
  color:#CDEFF7 ;
  font-weight:bold;

}

.answer{
  width:100%;
  
}

.radio-color{
  color:#CDEFF7;
}